<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.messageservice.mapper.ChatMessageMapper">


    <insert id="insertChatMessage">
            insert into t_chatmessage(content,senderId,receiverId,sendTime,status, type) values(#{content},#{senderId},#{receiverId},#{sendTime},#{status},#{type})
    </insert>
</mapper>
